.skill-item {
  position: relative;

  overflow: hidden;

  background-color: $color-primary;
  &:hover {
    .skill-item__link {
      color: $color-accent;
    }
    .skill-item__image {
      transform: scale(1.1);
    }
    .skill-item__overlay {
      opacity: 0.95;
    }
  }
  &__title {
    z-index: 1;
    margin: 0;
    @include abs-position;
  }
  &__link {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
    padding: $gap;

    transition: color 0.5s;
    letter-spacing: 2px;

    font-size: $gap;
    line-height: 1.2;
    @include md-min {
      font-size: 1.25rem;
    }
    @include md {
      font-size: 1.11rem;
    }
  }
  &__image {
    transition: transform 0.5s;

    background-position: center;
    background-size: cover;

    @include abs-position;
  }
  &__overlay {
    transition: opacity 0.5s;

    @include abs-position;
  }
}

.skill-item:nth-child(1) {
  grid-area: a1;
}
.skill-item:nth-child(2) {
  grid-area: a2;
}
.skill-item:nth-child(3) {
  grid-area: a3;
}
.skill-item:nth-child(4) {
  grid-area: a4;
}
.skill-item:nth-child(5) {
  grid-area: a5;
}
.skill-item:nth-child(6) {
  grid-area: a6;
}
.skill-item:nth-child(7) {
  grid-area: a7;
}
.skill-item:nth-child(8) {
  grid-area: a8;
}
.skill-item:nth-child(9) {
  grid-area: a9;
}
